body{
    color: #c7c7c7;
    background-image: url("./img/synthwave.png");
    background-size: cover;
    text-align: center;
    margin-top: 5%;
}

label{
    font-size: 20px;
    margin-top: 5px;
}

.table, #formulario{
    color: #e0e0e0;
    background-color: #141414dc;
    margin-bottom: 10px;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;
    min-width: 350px;
}

button{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 90%;
    cursor: pointer;
}

.form-control{
    display: inline-block;
    width: 90%;
    background-color: #333333b7;
    color: white;
    
}
